<div class="main">
  <h1>
    Добро пожаловать!
  </h1>
  <img src="../src/main_image.jpg" alt="" class="img"><br>
  <div class="panels">
  <input type="text" id="login" style="margin-bottom: 4px" placeholder="Username"><br>
  <input type="password" id="password" placeholder="Pasword"><br>
  </div>
  <div class="buttons">
    <form>
      <input type="submit" value="Login" id="submit" onclick="take()"><br>
      <input type="button" value="Registration" id="registration" onclick="regisr()">
    </form>
  </div>
  <div class="forgotten">
  <a href="" onclick=""><b>Забыли пароль?</b></a>
</div>
</div>

